<?xml version="1.0" encoding="UTF-8"?>
<!-- default logging configuration (non-json) for test runs. -->
<!-- used by integration-tests module. -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="cloud.angst.dbcache" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
